body{
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: #0f0f1a; */
    color: white;
}

header{
    text-align: center;
    padding: 20px;
    font-size: 28px;
    height: 100vh;
    background: linear-gradient(135deg, #ff4d6d, #6a11cb);
    font-family: 'Segoe UI', sans-serif;
}

.games-container{
    display: flex;
    /* justify-content: center; */
    margin-top: 40px;
}

.game-box{
    width: 260px;
    background: #1c1c2e;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-box img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.game-box h3{
    margin: 12px 0 5px;
}

.game-box p{
    font-size: 14px;
    color: #ccc;
    padding-bottom: 15px;
}

.game-box:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(255,77,109,0.6);
}
